{% import "trees/rhel-nightly.j2" as nightly %}
{% set distro_requires %}
  <distro_family op="=" value="RedHatEnterpriseLinux7"/>
  <distro_variant op="=" value="Server"/>
  <distro_name op="=" value="RHEL-7.2"/>
{% endset %}
{% set ks_append %}
  {{ nightly.ks_append(rt=false) }}
{% endset %}
{% set repos %}
    <repo name="pulp_0" url="http://rhsm-pulp.corp.redhat.com/content/aus/rhel/server/7/7.2/{{ ARCH }}/os"/>
    <repo name="pulp_1" url="http://rhsm-pulp.corp.redhat.com/content/aus/rhel/server/7/7.2/{{ ARCH }}/optional/os"/>
    <repo name="pulp_2" url="http://rhsm-pulp.corp.redhat.com/content/eus/rhel/server/7/7.2/{{ ARCH }}/debug"/>
{% endset %}
{% set kcov_rhel_xy="72" %}
