{% import "trees/rhel-nightly.j2" as nightly %}
{% set distro_requires %}
  <variant op="=" value="BaseOS"/>
  <distro_family op="=" value="RedHatEnterpriseLinux8"/>
  <distro_name op="=" value="RHEL-8.4.0"/>
{% endset %}
{% set distro_type = "eus" %}
{% if ARCH == "x86_64" %}
  {% set distro_type = "aus" %}
{% endif %}
{% if ARCH == "ppc64le" %}
  {% set distro_type = "e4s" %}
{% endif %}
{% set repos %}
  <repo name="pulp_0" url="http://rhsm-pulp.corp.redhat.com/content/{{ distro_type }}/rhel8/8.4/{{ ARCH }}/appstream/os/"/>
  <repo name="pulp_1" url="http://rhsm-pulp.corp.redhat.com/content/{{ distro_type }}/rhel8/8.4/{{ ARCH }}/baseos/os/"/>
  <repo name="pulp_2" url="http://rhsm-pulp.corp.redhat.com/content/eus/rhel8/8.4/{{ ARCH }}/codeready-builder/os/"/>
  {% if TREE.endswith("-rt") %}
    <repo name="pulp_3" url="http://rhsm-pulp.corp.redhat.com/content/tus/rhel8/8.4/{{ ARCH }}/rt/os/"/>
  {% endif %}
{% endset %}
{% set ks_append %}
  {{ nightly.ks_append(rt=TREE.endswith("-rt")) }}
  <ks_append><![CDATA[
%post
# Enable Buildroot for test dependencies
cat >/etc/yum.repos.d/BUILDROOT-8.repo <<EOF
[BUILDROOT-8]
name=BUILDROOT-8
baseurl=http://download.eng.rdu2.redhat.com/rhel-8/rel-eng/BUILDROOT-8/latest-BUILDROOT-8.4.0-RHEL-8/compose/Buildroot/{{ ARCH }}/os/
enabled=1
gpgcheck=0
skip_if_unavailable=1
EOF
# Add Advanced VIRT repo, required for virt tests
cat >/etc/yum.repos.d/rhel8-advvirt.repo <<EOF
[rhel8-advvirt]
name=rhel8-advvirt
baseurl=http://download.devel.redhat.com/rhel-8/rel-eng/ADVANCED-VIRT-8/latest-ADVANCED-VIRT-8.4.0-RHEL-8/compose/Advanced-virt/$(uname -i)/os/
enabled=0
gpgcheck=0
EOF
# Add Weekly rebase VIRT repo, required for virt tests
cat >/etc/yum.repos.d/virt-weeklyrebase.repo <<EOF
[virt-weeklyrebase]
name=virt-weeklyrebase
baseurl=http://batcave.lab.eng.brq.redhat.com/repos/test/weekly-latest/$(uname -i)/
enabled=0
gpgcheck=0
EOF
%end
]]>      </ks_append>
{% endset %}
{% set kcov_rhel_xy="84" %}
