<and>
    <cpu>
        <and>
            <model op="&gt;=" value="5111808"/>
            <model op="&lt;=" value="5177343"/>
        </and>
    </cpu>
    <system>
        <hypervisor op="==" value=""/>
    </system>
</and>
